<!DOCTYPE html>
<html>

<head>
  <title>Eat da Burger!</title>

  <link rel="icon" href="assets/img/burger.jpg">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div class="container">
    <center>
      <div class="row">
        <div class="jumbotron">
          <h1>Eat Da Burger!</h1>
          <p>Choose a Burger from the list... Then devour it!<br>Enter any burgers that you do not see on the list.</p>
          <img src="assets/img/burger.jpg" alt="Burger">
    </center>

    <br>

    {{{body}}}

    <br>

    <form action="burger/create" method="POST">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="form-group col-md-6">
          <center><label for="newburger" id="submitburger">Request a new burger!</label></center>
          <textarea class="form-control" type="text" id="newburger" name="burgername">
          </textarea>
        </div>

        <div class="col-md-3"></div>
      </div>

      <center>
        <button id="createburgerbutton" type="submit" class="btn btn-secondary">Add a burger!</button>
      </center>
    </form>
  </div>

  <br>
  
</body>
</html>